 body{
                background-color:black;
                color:white;
                font-family:Arial;
            }
            .title{
                font-size: 30px;
                font-weight:bold;
            }
            .move-button{
                background-color: transparent;
                border:3px solid white;
                height: 120px;
                width:120px;
                border-radius:60px;
                margin-right:10px;
            }
            .move-icon{
                height: 50px;
                width:50px;
                
            }
            .result{
                font-size:25px;
                font-weight:bold;
                margin-top:50px;
            }
            .moves img {
                width: 50px;
                height: 50px;
            }

            .scoreboard{
                margin-top:60px;
                font-size:16px;
            }
            .reset-button{
                    background-color: white;
                    border: none;
                    font-size: 15px;
                    padding: 8px 15px;
                    cursor: pointer;
            }
